# 自动检测文本文件并标准化行尾符
* text=auto

# 强制特定文件类型使用 LF
*.sh text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.rs text eol=lf

# 强制特定文件类型使用 CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# 二进制文件
*.dll binary
*.exe binary
*.png binary
*.jpg binary